body{
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.bg-primary{
    background-color:#1d0563 !important;
}

.banner{
    width:100%;
    min-height:93vh;

    background:
        linear-gradient(
            rgba(0,0,0,0.6),
            rgba(0,0,0,0.6)
        ),
        url('../img/banner.png');

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.banner-content{
    max-width:900px;
    padding:20px;
}

.banner h1{
    color:white;
    font-size:4rem;
    font-weight:700;
}

.banner p{
    color:white;
    font-size:1.3rem;
    margin:20px 0;
}
.signup-section{
    min-height:100vh;
    background:#f5f5f5;
    padding-top:120px;
    padding-bottom:60px;
}

.card{
    border-radius:15px;
}

.card h2{
    color:#1d0563;
    font-weight:700;
}

.btn-primary{
    background:#1d0563;
    border:none;
}

.btn-primary:hover{
    background:#2b0a8d;
}